@import 'tailwindcss';
@import 'primeicons/primeicons.css';

* {
  font-family: 'alibaba-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .banner-ppl {
  background-image: linear-gradient(#0a2e4c, #004a87);
}

.nav-ppl {
  background: #0a2e4c !important;
  height: 50px;
  button {
    color: #fff;
  }
  ul {
    background: #0a2e4c !important;
    color: #fff;
  }
  a:hover {
      background-color: #0a2e4c !important;
  }
  .p-menubar-item:hover {
    background-color: #0a2e4c !important;
  }
  .p-menubar-item-content:hover {
    background-color: #0a2e4c !important;
  }
  span:hover {
    background-color: #0a2e4c !important;
  }
}

.somos {
  color: #004a87;
  h2,
  a {
    margin: 10px !important;
    color: #004a87 !important;
  }
  svg {
    height: 4em;
  }
}

@media only screen and (max-width: 600px) {
  .somos {
    text-align: center !important;
  }
}

.testimonials {
  color: #004a87;
  background: #b1c7da;
  border-radius: 25px;
  padding: 50px !important;
  border: 2px solid #004a87;
  margin-top: 40px;
}

.button-ppl {
  width: 100%;
  height: 20%;
  color: white;
  background: #004a87;
  border: 1px solid #004a87;
  border-radius: 12px;
  font-size: 20px;
  margin-top: 20px;
}

.footer {
  color: white;
  background: #004a87;
  p {
    margin: 10px !important;
  }
}
.logo {
  display: flex;
  justify-content: center;

  img {
    width: 25% !important;
  }
}

.polig {
  background: white;
  color: black;
}

.login {
  margin: 100px auto;
  width: 400px;
  padding: 40px;
  background: #004a87;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login h2 {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.login .login__input {
  position: relative;
}

.login .login__input input {
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login .login__input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login .login__input input:focus ~ label,
.login .login__input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login__submit {
  color: #1b1c1b;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: none;
  cursor: pointer;
} */

/* a.WhatsApp {
  display: block;
  position: fixed;
  z-index: 1000;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;

  text-decoration: none;
  background: var(--life);
  color: #25d366;
  padding: 22px;
} */

/* a.WhatsApp img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
} */

/* PALETA DE COLORES PARA BACKGROUNDS EN DIVS Y OTROS COMPONENTES FUERA DE PRIMEVUE */
.bg-vitality {
  background-color: var(--vitality);
}

.bg-welfare {
  background-color: var(--welfare);
}

.bg-hope {
  background-color: var(--hope);
}

.bg-health {
  background-color: var(--health);
}

.bg-life {
  background-color: var(--life);
}

.bg-shadow {
  background-color: var(--shadow);
}

.text-vitality {
  color: var(--vitality);
}

.text-hope {
  color: var(--hope);
}

.text-welfare {
  color: var(--welfare);
}

.border-color-vitality {
  border-color: var(--vitality);
}

.border-color-welfare {
  border-color: var(--welfare);
}

.border-color-hope {
  border-color: var(--hope);
}

.border-color-helth {
  border-color: var(--health);
}

.border-color-life {
  border-color: var(--life);
}

.border-color-shadow {
  border-color: var(--shadow);
}

.border-color-danger {
  border-color: var(--danger);
}

:root {
  --vitality: #0a2e4c; /* Primary color higthligth*/
  --welfare: #004a87; /* Secondary color for texts */
  --hope: #03a5a5; /* Secondary color backgrounds higthligth */
  --health: #01b0fe; /* soft color backgrounds */
  --life: #ffffff; /* white */
  --shadow: #cbcbcb; /* dark color for text or contrast */
  --danger: #ff0000; /* red */

  --body-bg: var(--health);
  --card-bg: var(--p-surface-50);
}

:root[class='my-app-dark'] {
  --body-bg: var(--shadow);
  --card-bg: var(--vitality);
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.border-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-round-lg {
  border-radius: 5%;
}

.surface-100-shadow {
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.search-directory {
  display: block;
}
.search-movil {
  display: none;
}

.img-doctor {
  img {
    width: 75%;
    height: 100%;
    float: right;
  }
}

.card-testimonials {
  color: #004a87;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .search-directory {
    display: none;
  }
  .search-movil {
    display: block;
  }
  .img-doctor {
    img {
      width: 60%;
    }
  }
  .testimonial-scll {
    overflow: auto;
  }

  .title-const {
    width: 190px !important;
  }
}
