@import 'tailwindcss';
@import 'primeicons/primeicons.css';

* {
  font-family: 'alibaba-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* PALETA DE COLORES PARA BACKGROUNDS EN DIVS Y OTROS COMPONENTES FUERA DE PRIMEVUE */
.bg-vitality {
  background-color: var(--vitality);
}

.bg-welfare {
  background-color: var(--welfare);
}

.bg-hope {
  background-color: var(--hope);
}

.bg-health {
  background-color: var(--health);
}

.bg-life {
  background-color: var(--life);
}

.bg-shadow {
  background-color: var(--shadow);
}

.text-vitality {
  color: var(--vitality);
}

.text-hope {
  color: var(--hope);
}

.text-welfare {
  color: var(--welfare);
}

.border-color-vitality {
  border-color: var(--vitality);
}

.border-color-welfare {
  border-color: var(--welfare);
}

.border-color-hope {
  border-color: var(--hope);
}

.border-color-helth {
  border-color: var(--health);
}

.border-color-life {
  border-color: var(--life);
}

.border-color-shadow {
  border-color: var(--shadow);
}

.border-color-danger {
  border-color: var(--danger);
}

:root {
  --vitality: #0a2e4c; /* Primary color higthligth*/
  --welfare: #004a87; /* Secondary color for texts */
  --hope: #03a5a5; /* Secondary color backgrounds higthligth */
  --health: #01b0fe; /* soft color backgrounds */
  --life: #ffffff; /* white */
  --shadow: #cbcbcb; /* dark color for text or contrast */
  --danger: #ff0000; /* red */

  --body-bg: var(--health);
  --card-bg: var(--p-surface-50);
}

:root[class='my-app-dark'] {
  --body-bg: var(--shadow);
  --card-bg: var(--vitality);
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.border-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-round-lg {
  border-radius: 5%;
}

.surface-100-shadow {
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.search-directory {
  display: block;
}
.search-movil {
  display: none;
}

.img-doctor {
  img {
    width: 75%;
    height: 100%;
    float: right;
  }
}

.card-testimonials {
  color: #004a87;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .search-directory {
    display: none;
  }
  .search-movil {
    display: block;
  }
  .img-doctor {
    img {
      width: 60%;
    }
  }
  .testimonial-scll {
    overflow: auto;
  }

  .title-const {
    width: 190px !important;
  }
}
